APP_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=elite-fort
DB_USERNAME=root
DB_PASSWORD=your_database_password

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_ENCRYPTION=tls

MAIL_FROM_ADDRESS=your-email@gmail.com
MAIL_FROM_NAME="EliteFort"